{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>

        <h2 class="fw-bold mb-1">Posts</h2>

        <p class="text-muted mb-0">
            Manage and schedule your social media content.
        </p>

    </div>

    <a href="{% url 'post_create' %}" class="btn btn-success px-4">
        + New Post
    </a>

</div>

<div class="card shadow-sm border-0 mb-4">

    <div class="card-body">

        <input
            type="text"
            class="form-control"
            placeholder="🔍 Search posts..."
        >

    </div>

</div>

<div class="row">

{% for post in posts %}

<div class="col-lg-4 col-md-6 mb-4">

<div class="card border-0 shadow-sm h-100">

{% if post.image %}

<img
src="{{ post.image.url }}"
class="card-img-top"
style="height:220px;object-fit:cover;"
>

{% else %}

<div
class="d-flex align-items-center justify-content-center bg-light"
style="height:220px;font-size:70px;"
>

🎥

</div>

{% endif %}

<div class="card-body">

<h5 class="fw-bold">

{% if post.idea %}
{{ post.idea|truncatechars:35 }}
{% else %}
No Title
{% endif %}

</h5>

<p class="text-muted">

{{ post.caption|truncatechars:100 }}

</p>

{% if post.status == "draft" %}

<span class="badge bg-secondary">
Draft
</span>

{% elif post.status == "scheduled" %}

<span class="badge bg-warning text-dark">
Scheduled
</span>

{% elif post.status == "published" %}

<span class="badge bg-success">
Published
</span>

{% else %}

<span class="badge bg-danger">
Failed
</span>

{% endif %}

<hr>

<p class="mb-1">

📅 {{ post.publish_at|date:"d M Y - h:i A" }}

</p>

<p class="mb-2">

👤

{% for account in post.social_accounts.all %}

{{ account.username }}

{% if not forloop.last %}
,
{% endif %}

{% endfor %}

</p>

<div class="d-flex justify-content-between">

<a
href="{% url 'post_edit' post.id %}"
class="btn btn-outline-success btn-sm"
>

Edit

</a>

<a
href="{% url 'post_delete' post.id %}"
class="btn btn-outline-danger btn-sm"
>

Delete

</a>

</div>

</div>

</div>

</div>

{% empty %}

<div class="col-12">

<div class="card border-0 shadow-sm">

<div class="card-body text-center py-5">

<h4>No Posts Yet</h4>

<p class="text-muted">

Create your first post.

</p>

<a
href="{% url 'post_create' %}"
class="btn btn-success"
>

Create Post

</a>

</div>

</div>

</div>

{% endfor %}

</div>

{% endblock %}