<div class="col-md-2 bg-light vh-100 border-end">

    <div class="p-3">

        <h4>KMG</h4>

        <hr>

        <a href="/" class="d-block mb-3 text-decoration-none">
            🏠 Dashboard
        </a>

        <a href="/clients/" class="d-block mb-3 text-decoration-none">
            👥 Clients
        </a>

        <a href="/posts/" class="d-block mb-3 text-decoration-none">
            📝 Posts
        </a>

        <a href="#" class="d-block mb-3 text-decoration-none">
            ⚙ Settings
        </a>

    </div>

</div>